<ion-header>
  <ion-navbar>
    <ion-title>
      Assignment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
  <h1 padding>Enter the right code</h1>
  <p *ngIf="isGameWon()">You won!</p>
  <p *ngIf="!isGameWon()">Tap twice, press 4 times</p>

  <ion-list>
    <ion-item>
      <p>Tapped: {{tapNr}}</p>
    </ion-item>
    <ion-item>
      <p>Pressed: {{pressNr}}</p>
    </ion-item>
  </ion-list>
  <ion-grid>
    <app-reset-controls (didReset)="onDidReset($event)"> </app-reset-controls>
    <ion-row>
      <ion-col>
        <button small color="secondary" ion-button block (tap)="onTap()">Tap here</button>
      </ion-col>
      <ion-col>
        <button small color="secondary" ion-button block (press)="onPress()">Press here</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
